@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form asp-action="BugRepro" id="form">
    <input type="submit" value="Click here to reproduce bug" />
    <input type="hidden" name="[0].Prop" />
    <input type="hidden" name="[1].Prop" />
    <input type="hidden" name="[2].Prop" />
    <input type="hidden" name="[3].Prop" />
    <input type="hidden" name="[4].Prop" />
    <input type="hidden" name="[5].Prop" />
    <input type="hidden" name="[6].Prop" />
    <input type="hidden" name="[7].Prop" />
    <input type="hidden" name="[8].Prop" />
    <input type="hidden" name="[9].Prop" />
    <input type="hidden" name="[10].Prop" />
    <input type="hidden" name="[11].Prop" />
    <input type="hidden" name="[12].Prop" />
    <input type="hidden" name="[13].Prop" />
    <input type="hidden" name="[14].Prop" />
    <input type="hidden" name="[15].Prop" />
    <input type="hidden" name="[16].Prop" />
    <input type="hidden" name="[17].Prop" />
    <input type="hidden" name="[18].Prop" />
    <input type="hidden" name="[19].Prop" />
    <input type="hidden" name="[20].Prop" />
    <input type="hidden" name="[21].Prop" />
    <input type="hidden" name="[22].Prop" />
    <input type="hidden" name="[23].Prop" />
    <input type="hidden" name="[24].Prop" />
    <input type="hidden" name="[25].Prop" />
    <input type="hidden" name="[26].Prop" />
    <input type="hidden" name="[27].Prop" />
    <input type="hidden" name="[28].Prop" />
    <input type="hidden" name="[29].Prop" />
    <input type="hidden" name="[30].Prop" />
    <input type="hidden" name="[31].Prop" />
    <input type="hidden" name="[32].Prop" />
    <input type="hidden" name="[33].Prop" />
    <input type="hidden" name="[34].Prop" />
    <input type="hidden" name="[35].Prop" />
    <input type="hidden" name="[36].Prop" />
    <input type="hidden" name="[37].Prop" />
    <input type="hidden" name="[38].Prop" />
    <input type="hidden" name="[39].Prop" />
    <input type="hidden" name="[40].Prop" />
    <input type="hidden" name="[41].Prop" />
    <input type="hidden" name="[42].Prop" />
    <input type="hidden" name="[43].Prop" />
    <input type="hidden" name="[44].Prop" />
    <input type="hidden" name="[45].Prop" />
    <input type="hidden" name="[46].Prop" />
    <input type="hidden" name="[47].Prop" />
    <input type="hidden" name="[48].Prop" />
    <input type="hidden" name="[49].Prop" />
    <input type="hidden" name="[50].Prop" />
    <input type="hidden" name="[51].Prop" />
    <input type="hidden" name="[52].Prop" />
    <input type="hidden" name="[53].Prop" />
    <input type="hidden" name="[54].Prop" />
    <input type="hidden" name="[55].Prop" />
    <input type="hidden" name="[56].Prop" />
    <input type="hidden" name="[57].Prop" />
    <input type="hidden" name="[58].Prop" />
    <input type="hidden" name="[59].Prop" />
    <input type="hidden" name="[60].Prop" />
    <input type="hidden" name="[61].Prop" />
    <input type="hidden" name="[62].Prop" />
    <input type="hidden" name="[63].Prop" />
    <input type="hidden" name="[64].Prop" />
    <input type="hidden" name="[65].Prop" />
    <input type="hidden" name="[66].Prop" />
    <input type="hidden" name="[67].Prop" />
    <input type="hidden" name="[68].Prop" />
    <input type="hidden" name="[69].Prop" />
    <input type="hidden" name="[70].Prop" />
    <input type="hidden" name="[71].Prop" />
    <input type="hidden" name="[72].Prop" />
    <input type="hidden" name="[73].Prop" />
    <input type="hidden" name="[74].Prop" />
    <input type="hidden" name="[75].Prop" />
    <input type="hidden" name="[76].Prop" />
    <input type="hidden" name="[77].Prop" />
    <input type="hidden" name="[78].Prop" />
    <input type="hidden" name="[79].Prop" />
    <input type="hidden" name="[80].Prop" />
    <input type="hidden" name="[81].Prop" />
    <input type="hidden" name="[82].Prop" />
    <input type="hidden" name="[83].Prop" />
    <input type="hidden" name="[84].Prop" />
    <input type="hidden" name="[85].Prop" />
    <input type="hidden" name="[86].Prop" />
    <input type="hidden" name="[87].Prop" />
    <input type="hidden" name="[88].Prop" />
    <input type="hidden" name="[89].Prop" />
    <input type="hidden" name="[90].Prop" />
    <input type="hidden" name="[91].Prop" />
    <input type="hidden" name="[92].Prop" />
    <input type="hidden" name="[93].Prop" />
    <input type="hidden" name="[94].Prop" />
    <input type="hidden" name="[95].Prop" />
    <input type="hidden" name="[96].Prop" />
    <input type="hidden" name="[97].Prop" />
    <input type="hidden" name="[98].Prop" />
    <input type="hidden" name="[99].Prop" />
    <input type="hidden" name="[100].Prop" />
    <input type="hidden" name="[101].Prop" />
    <input type="hidden" name="[102].Prop" />
    <input type="hidden" name="[103].Prop" />
    <input type="hidden" name="[104].Prop" />
    <input type="hidden" name="[105].Prop" />
    <input type="hidden" name="[106].Prop" />
    <input type="hidden" name="[107].Prop" />
    <input type="hidden" name="[108].Prop" />
    <input type="hidden" name="[109].Prop" />
    <input type="hidden" name="[110].Prop" />
    <input type="hidden" name="[111].Prop" />
    <input type="hidden" name="[112].Prop" />
    <input type="hidden" name="[113].Prop" />
    <input type="hidden" name="[114].Prop" />
    <input type="hidden" name="[115].Prop" />
    <input type="hidden" name="[116].Prop" />
    <input type="hidden" name="[117].Prop" />
    <input type="hidden" name="[118].Prop" />
    <input type="hidden" name="[119].Prop" />
    <input type="hidden" name="[120].Prop" />
    <input type="hidden" name="[121].Prop" />
    <input type="hidden" name="[122].Prop" />
    <input type="hidden" name="[123].Prop" />
    <input type="hidden" name="[124].Prop" />
    <input type="hidden" name="[125].Prop" />
    <input type="hidden" name="[126].Prop" />
    <input type="hidden" name="[127].Prop" />
    <input type="hidden" name="[128].Prop" />
    <input type="hidden" name="[129].Prop" />
    <input type="hidden" name="[130].Prop" />
    <input type="hidden" name="[131].Prop" />
    <input type="hidden" name="[132].Prop" />
    <input type="hidden" name="[133].Prop" />
    <input type="hidden" name="[134].Prop" />
    <input type="hidden" name="[135].Prop" />
    <input type="hidden" name="[136].Prop" />
    <input type="hidden" name="[137].Prop" />
    <input type="hidden" name="[138].Prop" />
    <input type="hidden" name="[139].Prop" />
    <input type="hidden" name="[140].Prop" />
    <input type="hidden" name="[141].Prop" />
    <input type="hidden" name="[142].Prop" />
    <input type="hidden" name="[143].Prop" />
    <input type="hidden" name="[144].Prop" />
    <input type="hidden" name="[145].Prop" />
    <input type="hidden" name="[146].Prop" />
    <input type="hidden" name="[147].Prop" />
    <input type="hidden" name="[148].Prop" />
    <input type="hidden" name="[149].Prop" />
    <input type="hidden" name="[150].Prop" />
    <input type="hidden" name="[151].Prop" />
    <input type="hidden" name="[152].Prop" />
    <input type="hidden" name="[153].Prop" />
    <input type="hidden" name="[154].Prop" />
    <input type="hidden" name="[155].Prop" />
    <input type="hidden" name="[156].Prop" />
    <input type="hidden" name="[157].Prop" />
    <input type="hidden" name="[158].Prop" />
    <input type="hidden" name="[159].Prop" />
    <input type="hidden" name="[160].Prop" />
    <input type="hidden" name="[161].Prop" />
    <input type="hidden" name="[162].Prop" />
    <input type="hidden" name="[163].Prop" />
    <input type="hidden" name="[164].Prop" />
    <input type="hidden" name="[165].Prop" />
    <input type="hidden" name="[166].Prop" />
    <input type="hidden" name="[167].Prop" />
    <input type="hidden" name="[168].Prop" />
    <input type="hidden" name="[169].Prop" />
    <input type="hidden" name="[170].Prop" />
    <input type="hidden" name="[171].Prop" />
    <input type="hidden" name="[172].Prop" />
    <input type="hidden" name="[173].Prop" />
    <input type="hidden" name="[174].Prop" />
    <input type="hidden" name="[175].Prop" />
    <input type="hidden" name="[176].Prop" />
    <input type="hidden" name="[177].Prop" />
    <input type="hidden" name="[178].Prop" />
    <input type="hidden" name="[179].Prop" />
    <input type="hidden" name="[180].Prop" />
    <input type="hidden" name="[181].Prop" />
    <input type="hidden" name="[182].Prop" />
    <input type="hidden" name="[183].Prop" />
    <input type="hidden" name="[184].Prop" />
    <input type="hidden" name="[185].Prop" />
    <input type="hidden" name="[186].Prop" />
    <input type="hidden" name="[187].Prop" />
    <input type="hidden" name="[188].Prop" />
    <input type="hidden" name="[189].Prop" />
    <input type="hidden" name="[190].Prop" />
    <input type="hidden" name="[191].Prop" />
    <input type="hidden" name="[192].Prop" />
    <input type="hidden" name="[193].Prop" />
    <input type="hidden" name="[194].Prop" />
    <input type="hidden" name="[195].Prop" />
    <input type="hidden" name="[196].Prop" />
    <input type="hidden" name="[197].Prop" />
    <input type="hidden" name="[198].Prop" />
    <input type="hidden" name="[199].Prop" />
    <input type="hidden" name="[200].Prop" />
    <input type="hidden" name="[201].Prop" />
    <input type="hidden" name="[202].Prop" />
    <input type="hidden" name="[203].Prop" />
    <input type="hidden" name="[204].Prop" />
    <input type="hidden" name="[205].Prop" />
    <input type="hidden" name="[206].Prop" />
    <input type="hidden" name="[207].Prop" />
    <input type="hidden" name="[208].Prop" />
    <input type="hidden" name="[209].Prop" />
    <input type="hidden" name="[210].Prop" />
    <input type="hidden" name="[211].Prop" />
    <input type="hidden" name="[212].Prop" />
    <input type="hidden" name="[213].Prop" />
    <input type="hidden" name="[214].Prop" />
    <input type="hidden" name="[215].Prop" />
    <input type="hidden" name="[216].Prop" />
    <input type="hidden" name="[217].Prop" />
    <input type="hidden" name="[218].Prop" />
    <input type="hidden" name="[219].Prop" />
    <input type="hidden" name="[220].Prop" />
    <input type="hidden" name="[221].Prop" />
    <input type="hidden" name="[222].Prop" />
    <input type="hidden" name="[223].Prop" />
    <input type="hidden" name="[224].Prop" />
    <input type="hidden" name="[225].Prop" />
    <input type="hidden" name="[226].Prop" />
    <input type="hidden" name="[227].Prop" />
    <input type="hidden" name="[228].Prop" />
    <input type="hidden" name="[229].Prop" />
    <input type="hidden" name="[230].Prop" />
    <input type="hidden" name="[231].Prop" />
    <input type="hidden" name="[232].Prop" />
    <input type="hidden" name="[233].Prop" />
    <input type="hidden" name="[234].Prop" />
    <input type="hidden" name="[235].Prop" />
    <input type="hidden" name="[236].Prop" />
    <input type="hidden" name="[237].Prop" />
    <input type="hidden" name="[238].Prop" />
    <input type="hidden" name="[239].Prop" />
    <input type="hidden" name="[240].Prop" />
    <input type="hidden" name="[241].Prop" />
    <input type="hidden" name="[242].Prop" />
    <input type="hidden" name="[243].Prop" />
    <input type="hidden" name="[244].Prop" />
    <input type="hidden" name="[245].Prop" />
    <input type="hidden" name="[246].Prop" />
    <input type="hidden" name="[247].Prop" />
    <input type="hidden" name="[248].Prop" />
    <input type="hidden" name="[249].Prop" />
</form>